@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family:
    'Inter',
    Trebuchet MS,
    sans-serif !important;
}

/* width, height 하위 컴포넌트에서 100%잡기 위함 */
body,
html,
#root {
  width: 100%;
  height: 100%;
}

@layer components {
  .input {
    @apply rounded-lg bg-neutral-100 border border-neutral-200 p-2 focus:border-neutral-500 focus:outline-none;
  }
  .info-message {
    @apply text-orange-400 text-sm;
  }
}
