@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 #fff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4rem;
  height: 0.25rem;
}

*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 2px;
  border: 1px solid #fff;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@layer base {
  html {
    font-family: 'Noto Sans KR', 'Inter', sans-serif;
  }
}

@layer components {
  .input {
    @apply rounded-lg bg-neutral-100 border border-neutral-200 p-2 focus:border-neutral-500 focus:outline-none;
  }
  .info-message {
    @apply text-orange-400 text-sm;
  }
  .toggle-btn {
    @apply relative w-[2.4rem] h-5 bg-neutral-100 rounded-full peer-checked:border-blue-200 peer-checked:after:translate-x-full peer-checked:after:bg-blue-400 peer-checked:after:border-blue-200 after:absolute after:top-[1px] after:start-[2px] after:border-gray-200 after:border border after:rounded-full after:h-4 after:w-4 after:duration-300 peer-checked:bg-blue-100 after:bg-neutral-400 ease-in-out;
  }
  .tag {
    @apply h-6 px-4 rounded-xl text-xs text-slate-400 bg-blue-100;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in {
  animation: 0.5s ease-out 0s 1 slideInFromRight;
}

.slide-in-1 {
  animation: 1s ease-out 0s 1 slideInFromRight;
}
