@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family:
    'Inter',
    Trebuchet MS,
    sans-serif !important;
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 #fff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4rem;
  height: 0.25rem;
}

*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 2px;
  border: 1px solid #fff;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@layer components {
  .input {
    @apply rounded-lg bg-neutral-100 border border-neutral-200 p-2 focus:border-neutral-500 focus:outline-none;
  }
  .info-message {
    @apply text-orange-400 text-sm;
  }
  .tag {
    @apply h-6 px-4 rounded-xl text-xs text-slate-400 bg-blue-100;
  }
}
